.container1
{
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 10px;
    border-radius: 10px;
    border-style: none;
    padding: 2% 2%;
    box-shadow: 5px 5px 5px gray;
    background-color: rgb(12, 129, 137);
    position: relative;
    left: 35%;
}
.container2
{
    position: relative;
    left: 41.5%;
    width: 20%;  
}
.img1
{
    width:50%;
}
.input1
{
    padding: 4% 4%;
    border-radius: 10px 10px;
    border-style: none;
}
.button1
{
    color: white;
    background-color: rgb(8, 79, 84);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    padding: 2% 2%;
    border-style: none;
    font-weight: 500;
}