<div class="container2">
    <img src="https://previews.dropbox.com/p/thumb/ACiMFDdq8mo4kegZ3DrrPQpyRSpDOnM5eFC1hQnJUfkyIsaoEIGM6YyI2nIFUblwbEurrWiPpS9dswbsV9OTkz1DUvKZJA6B2bf__JGYimU_IJ5RQ-g0Q6EvZOiZvQkJN0JjSlBizi3LKCq5QJJSBtkSX3idnMWvGqODx9K7Rn0oCRDb9JqhUsYX12TMfd8EHMQe4PHckuo6MgQj_x_JERlMOtAlzRPkoS-G-yiDiwaNNtxiLPWzBydQ5cV9fqXQvnNbrSPBsxwJNdcZK6ModMRvPHVbOmPQ7YwviuiMeDifMnA0mpBuWlPtKjMP8rx42qM/p.jpeg" class="img1">
    </div>
<div class="container1">
<input type="text" #question placeholder="Enter the exam" class="input1">
<input type="text" #topic placeholder="Enter the topic" class="input1">
<input type="number" #count placeholder="enter no. of questions" class="input1">
<input type="text" #difficulty placeholder="enter difficulty" class="input1">
<input type="button" value="Begin" (click)="generate_test(question.value,topic.value,count.value,difficulty.value)" class="button1">
</div>